/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*****************************/
/*** Page personnages.html ***/
/*****************************/

.character {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 700px;
	padding: 20px;
}

.character:nth-child(2n + 1) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}

.character img {
	max-width: 200px;
	max-height: 300px;
}

.character:nth-child(2n) img {
	margin-right: 30px;
}

.character:nth-child(2n + 1) img {
	margin-left: 30px;
}

.character .description {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.character {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		    -ms-flex-direction: column !important;
		        flex-direction: column !important;
	}

	.character img {
		margin: 0 auto 20px auto !important;
	}
}