/*************************/
/*** Page credits.html ***/
/*************************/

.credit {
	display: flex;
	flex-flow: row nowrap;
	align-items: start;
	max-width: 600px;
}

.credit .description {
	height: 120px;
	width: 100%;
	padding: 20px 20px 20px 30px;
	text-align: left;
	overflow: auto;
}

.credit .description h2 {
	margin: 0 0 8px 0;
}

.credit .description p {
	padding-bottom: 10px;
	margin: 0 0 10px 0;
	border-bottom: 2px solid var(--yellow);
}

.credit .description p i {
	font-size: 1.2em;
	margin-right: 6px;
}

.credit img {
	width: 128px;
	height: 160px;
}