/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/********************/
/*** Pied de page ***/
/********************/

footer {
	position: relative;
	background-image: url(../assets/images/dirt.png);
	background-repeat: repeat;
	background-size: 80px;
	background-position: top center;
	text-align: center;
	padding-bottom: 30px;
	overflow-x: hidden;
}

footer::before {
	content: '';
	display: block;
	background-image: url(../assets/images/grass.png);
	background-repeat: repeat-x;
	background-size: 120px;
	background-position: top center;
	height: 70px;
	width: 100%;
}

footer .mario-run {
	position: absolute;
	bottom: 0;
	left: -80px;
	height: 80px;
	-webkit-animation: mario-run 30s infinite linear;
	        animation: mario-run 30s infinite linear;
	-webkit-animation-delay: 5s;
	        animation-delay: 5s;
}

footer a {
	color: #000;
	text-decoration: none;
}

@-webkit-keyframes mario-run {
	20%, 100% {
		left: 100%;
	}
}

@keyframes mario-run {
	20%, 100% {
		left: 100%;
	}
}