/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/**********************/
/*** Page game.html ***/
/**********************/

html, body {
	margin: 0;
}

canvas {
	display: block;
	width: 762px;
	height: 720px;
	margin: 0 auto;
}