/****************/
/***** Home *****/
/****************/

main::before {
	top: unset;
	bottom: 138px;
	background-image: url(../assets/images/background-home.jpg);
}

.video-button {
	display: block;
	margin: 60px auto 0 auto;
	font-size: 1.1em;
	animation: var(--breath);
}

.secret-link {
	position: absolute;
	bottom: 367px;
	left: calc(50% - 146px);
	display: inline-block;
	height: 60px;
	width: 60px;
}