/*****************************************/
/*** Style appliqué à toutes les pages ***/
/*****************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'header.css';
@import 'footer.css';

@font-face {
	font-family: SuperMarioBros;
	font-display: fallback;
    src: url(../assets/fonts/SuperMarioBros.otf);
}

html {
	--yellow: #ffcb05;
	--green: #00bd00;
	--sky: #a0e8f5;
	--placeholder-color: #ffffff8c;
	--card-color: #ffffffa1;
	--radio: #aaa;
	--breath: breath 2s infinite;
}

body {
	background: var(--sky);
	font-family: 'Roboto';
	padding: 0;
	margin: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
	cursor: pointer;
	font-size: 1em;
}

button i {
	font-size: 0.8em;
}

button.right-icon i {
	margin-left: 4px;
}

button.left-icon i {
	margin-right: 4px;
}

h1 {
	font-family: SuperMarioBros;
	font-weight: normal;
}

img {
	display: block;
    max-height: 100%;
    max-width: 100%;
}


label {
	position: relative;
	display: inline-block;
}

input,
textarea {
	width: calc(100% - 20px);
	background: #ffffffc5;
	color: #000;
	border: none;
	padding: 10px;
	margin: 0;
	font-size: 1em;
	font-family: inherit;
	outline: none;
	transition: all .3s;
}

textarea {
	resize: vertical;
	min-height: 80px;
}

input:focus,
textarea:focus {
	box-shadow: 0 3px 0 0 var(--yellow);
}

input + .placeholder,
textarea + .placeholder {
	position: absolute;
	left: 10px;
	top: 10px;
	color: #5e5e5e;
	cursor: text;
	transition: all .3s;
}

input:focus + .placeholder,
input + .placeholder.active,
textarea:focus + .placeholder,
textarea + .placeholder.active {
	font-size: 0.8em;
	color: #000;
	top: -2px;
	left: 2px;
	transform: translateY(-100%);
}

main {
	position: relative;
	margin: 121px auto 0 auto;
	width: 1280px;
	max-width: calc(100% - 20px);
	min-height: calc(100vh - 121px - 138px);
	overflow-x: hidden;
	z-index: 0;
}

main::before {
	content: '';
	display: block;
	position: fixed;
	top: 121px;
	width: 100vw;
	max-width: 1280px;
	height: 700px;
	background-image: url(../assets/images/sky.png);
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: -1;
}

noscript {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #f00;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	padding: 40px;
	z-index: 99;
}

p {
	text-align: justify;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + .radio-placeholder {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	background: var(--radio);
	border-radius: 50%;
	margin: 3px 4px 0 0;
}

input[type="radio"]:checked + .radio-placeholder {
	background: var(--yellow);
	border: 2px solid #000;
	border-radius: 50%;
	box-sizing: border-box;
}

.button {
	background: var(--yellow);
	border: 2px solid #000;
	padding: 8px 20px;
	cursor: pointer;
	transition: all .3s;
}

.button:hover,
.button:focus {
	filter: brightness(0.94);
}

.card {
	margin: 0 auto 40px auto;
	background: var(--card-color);
	box-shadow: 0 2px 5px #0004;
}

.page-content {
	margin: 0 auto 20px auto;
	text-align: center;
}

.video-container {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}

.video-container.active {
	visibility: visible;
	opacity: 1;
	transition: all .3s;
}

.video-container .video-overlay {
	position: fixed;
	background: #00000088;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.video-container .video-margin {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 800px;
	max-width: calc(100vw - 20px);
	margin: 0 auto;
}

.video-container .close-button {
	position: absolute;
	top: -10px;
	right: 0;
	transform: translateY(-100%);
	background: var(--yellow);
	border: 2px solid #000;
	padding: 10px 15px;
	cursor: pointer;
}

.video-ratio {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* to keep a 16:9 ratio. See https://stackoverflow.com/a/10441480/6466340 */
}

.video-container .video-ratio::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	border: 10px solid transparent;
	border-top: 10px solid #fff;
	border-radius: 50%;
	animation: spin-center 1.4s linear infinite;
}

.video-ratio > iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--placeholder-color);
}

@media screen and (max-width: 1280px) {
	main::before {
		left: 0;
	}
}

@media screen and (max-width: 768px) {
	main {
		margin-top: 66px;
		min-height: calc(100vh - 66px - 138px);
	}

	main::before {
		top: 66px;
	}
}

@keyframes breath {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}
}

@keyframes spin-center {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}