@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'header.css';
@import 'footer.css';

@font-face {
    font-family: 'SuperMarioBros';
    src: url(../assets/fonts/SuperMarioBros.otf);
}

html {
	--yellow: #ffcb05;
	--green: #00bd00;
	--sky: #a0e8f5;
	--placeholder: #ffffff88;
}

body {
	background: var(--sky);
	font-family: 'Roboto';
	padding: 0;
	margin: 0;
}

main {
	position: relative;
	display: block;
	margin: 121px auto 0 auto;
	max-width: 1280px;
	min-height: calc(100vh - 121px);
	overflow-x: hidden;
}

main::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	max-width: 1280px;
	height: 700px;
	background-image: url(../assets/images/sky.png);
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: -1;
}

main.home::before {
	top: unset;
	bottom: 0;
	background-image: url(../assets/images/background-home.jpg);
}

img {
    max-height: 100%;
    max-width: 100%;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.home-video-container {
	display: table;
	margin: 0 auto;
	padding-top: 50px;
}

.home-video {
	background: var(--placeholder);
}

@media screen and (max-width: 768px) {
	main {
		margin-top: 66px;
	}
}