/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/**************************/
/*** Page objectif.html ***/
/**************************/

.map {
	width: 640px;
	margin: 0 auto 30px auto;
}

.description {
	max-width: 600px;
	padding: 20px;
}