#quizz-questions-container {
	overflow: hidden;
	max-width: 600px;
	margin-bottom: 20px;
	transition: all .3s;
}

#quizz-questions {
	position: relative;
	left: 0;
	transition: all .3s;
}

.question {
	position: absolute;
	top: 0;
	width: calc(100% - 60px);
	text-align: left;
	padding: 30px;
}

.question h2 {
	margin-top: 0;
}

.question label {
	display: block;
}

.question .correct-answer {
	color: var(--green);
	font-weight: bold;
}

.quizz-footer {
	text-align: right;
	max-width: 600px;
	margin: 0 auto;
}

.quizz-footer #quizz-page {
	margin-bottom: 10px;
}

.quizz-footer #quizz-result-container {
	display: none;
	padding: 20px;
	margin-top: 40px;
	min-height: 150px;
}

.quizz-footer #quizz-result-image {
	float: left;
	height: 150px;
	margin-right: 40px;
}

.quizz-footer #quizz-button-reset {
	margin-top: 14px;
}

@media screen and (max-width: 768px) {
	.quizz-footer #quizz-result-container {
		text-align: center;
	}

	.quizz-footer #quizz-result-image {
		float: unset;
		margin: 0 auto 20px auto;
	}
}