.secret {
	max-width: 800px;
	padding: 20px;
}

.secret h2 {
	margin-top: 0;
}

.secret-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.secret:nth-child(2n + 1) .secret-content {
	flex-direction: row-reverse;
}

.secret-content img {
	max-width: 40%;
}

.secret:nth-child(2n) .secret-content img {
	margin-right: 30px;
}

.secret:nth-child(2n + 1) .secret-content img {
	margin-left: 30px;
}

.secret-content .description {
	width: 100%;
}

.secret-content .description button {
	display: block;
	margin: 20px auto 0 auto;
}

@media screen and (max-width: 768px) {
	.secret-content {
		flex-direction: column !important;
	}

	.secret-content img {
		max-width: 100%;
		margin: 0 auto !important;
	}
}