/************************/
/*** Page mondes.html ***/
/************************/

p {
	text-align: center;
}

.world-card {
	max-width: 750px;
	padding-top: 10px;
}

.world-card h2 {
	margin: 0 0 10px 0;
}